rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /siladik-guru-pai-smp/{document} {
      allow read, write: if true;
    }
    match /articles/{document} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
